/* General Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes up at least the full height of the viewport */
	
	font-family: Noto Sans, serif;
	
  /*  font-family: Arial, sans-serif;   */
    margin: 0;
    padding: 0;
    background-color: #F5EFE7; /* Light background for content */
    color: #213555; /* Dark text color for high contrast */
    line-height: 1.6;
}

/* Header Styling (404 Page Title) */
header {
    background-color: #F5EFE7; /* light background for header */
    color: #F9F9F9; /* Off-white text color */
    text-align: center;
    padding: 2rem 0;
}

/* 404 Content Section Styling */
.not-found {
    padding: 0rem 2rem;
    text-align: center;
    flex-grow: 1; /* Ensures content can grow and push footer down */
	margin-bottom: 2rem;
}

.not-found h1 {
    font-size: 1.5rem;
    color: #213555;
    margin-bottom: 0rem;
}

.not-found p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333333; /* Dark text for description */
}

/* Image Placeholder Styling */
.not-found-image {
    margin-top: 2.5rem;
	
}

.not-found-image img {
    width: 40%; /* Adjust image size */
    height: auto;
    
}

/* Button Styling */
.back-home-button {
    display: inline-block;
    background-color: #D8C4B6; /* Beige background for button */
    color: #213555;
    font-size: 1.1rem;
	font-weight: 700;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-home-button:hover {
    background-color: #3E5879; /* Dark blue hover state */
    color: #FFFFFF; /* Change text color on hover */
    transform: scale(1.05); /* Subtle hover effect */
}



/* Footer Styling */
footer {
    text-align: center;
    padding: 0.2rem; /* Reduced padding for a more compact footer */
    background-color: #3E5879; /* Theme blue background for footer */
    color: #f9f9f9; /* Dark text color to contrast with light footer background */
}

footer p {
    font-size: 0.9rem;
	font-weight: bold;
}

/* Responsive Design for smaller screens */
@media screen and (max-width: 768px) {
    .not-found h2 {
        font-size: 1.8rem; /* Slightly smaller heading on mobile */
    }

    .not-found p {
        font-size: 1rem;
    }

    .back-home-button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .not-found-image img {
        width: 250px; /* Make image smaller for mobile screens */
    }

}