/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Focus state*/
header nav a:focus-visible, .project-button:focus-visible{
    outline: 3px solid #FF3796;
    outline-offset: 4px;
}

.contact-button:focus-visible{
    outline: 3px solid #dcffb7;
    outline-offset: 4px;
}

body {
    font-family: Noto Sans, sans-serif;
	
	/*font-family: Arial, sans-serif;  */
    margin: 0;
    padding: 0;
    background-color: #F5EFE7; /* Light background for content */
    color: #213555; /* Dark text color for high contrast */
    line-height: 1.6;
}


svg {
    display: block; /* Ensures no extra space from inline rendering */
    margin: 0;
    padding: 0;
	overflow: hidden;
}



/* Logo Container */
.logo-container {
    text-align: left; /* Centers the logo above the header */
    padding: 1rem 2rem 0rem; /* Adds spacing around the logo */
	background-color: #f9f9f9;
	
	
}

.logo-container img {
    max-width: 60px; /* Adjust width to fit your design */
    height: auto; /* Maintain aspect ratio */
}




/* Header Styles */
header {
    background-color: #f9f9f9; /* Original background color */
    color: #213555; /* dark blue  text */
    padding: 0rem 0 2rem; /* Retained padding 2rem is at the top*/
    position: relative; /* make it possible to place the circle on the top-right */

	
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin: 0;

}

header nav a {
    color: #213555; /* dark blue text */
    text-decoration: none;
    font-weight: 700; /* font weight---300 is light */
    font-size: 1.2rem;
    position: relative; /* For positioning the hover circle */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */

}

header nav a:hover {
    color: #B51B75; /* dark pink on hover for better interaction */
   /* transform: scale(1.1); /* Slight scaling effect */
}

/* Hover Circle Effect (top-right corner of the header) */
header nav a::after {
    content: "";
    position: absolute;
    top: -5px; /* Position it just above the link */
    right: -5px; /* Position it to the right of the link */
    width: 7px; /* Size of the circle */
    height: 7px;
    background-color: #B51B75; /* dark pink color for the circle */
    border-radius: 50%; /* Makes it round */
    opacity: 0;
    transition: opacity 0.3s ease;
}

header nav a:hover::after {
    opacity: 1; /* Circle becomes visible on hover */
}



/* Remove hover circle for My Work */
.dropdown > a::after {
    display: none; /* Removes the circle dot effect for dropdown parent link */
}

/* Remove hover circle for links inside the dropdown menu */
.dropdown-menu a::after {
    display: none; /* Removes the circle dot effect for links inside the dropdown */
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown li {
    text-decoration: none;
    color: #213555;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2rem 0;
    transition: color 0.3s ease;
}

.dropdown .arrow i{
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow i{
    transform: rotate(180deg); 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -15px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #B51B75;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    z-index: 10;
    visibility: hidden;
    min-width: 165px;
	
	
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}




.dropdown-menu a {
    text-decoration: none;
    color: #213555;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.2rem 0;
    transition: color 0.3s ease;
}

.dropdown-menu a:hover {
    color: #B51B75;
	text-decoration: wavy underline #B51B75;
}





/* Responsive Dropdown */

/* Responsive Dropdown */
@media (max-width: 480px) {
    .dropdown-menu {
        position: absolute;
        left: -10%;
        transform: translateX(-50%) translateY(10px); /* Center align the dropdown */
        min-width: 150px; /* Adjust width for smaller screens */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        border-top: 3px solid #B51B75;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        visibility: hidden;
        opacity: 0;
		
    }

.dropdown-menu a {
    text-decoration: none;
    color: #213555;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.2rem 0;
    transition: color 0.3s ease;
}

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateX(-50%) translateY(0); /* Apply slide-up effect */
        visibility: visible;
    }
	
     header nav ul {
        gap: 2.5rem; /* Reduce the gap between navigation items */
    }
	
     header nav a {
       font-size: 1.1rem;
    }

	.logo-container img {
		width: 60px;
		height: auto;
		
	}

}


/* About Me Section */
.about {
    padding: 8rem 2rem 2rem;
    background-color: #F9F9F9; /* Off-white background for the About Me section */
    position: relative;
	overflow: hidden;
	padding-bottom:100px;
	
}


.about-container {
    
    max-width: 900px;
    margin: 0 auto;
    display: block;/* Ensures text and image are stacked */
}

.about-text {
    margin-bottom: 2rem; /* Space between text and image */
    max-width: 900px;
}

.about-text h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    font-weight: 900;
}


.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.about-text p {
    font-size: 1.3rem;
    line-height: 1.8;
	margin-bottom:2rem;
}
   
.about-image {
    margin-top: 5rem; /* Add space between the text and the image */
	
	margin-right:auto;
	margin-left:auto;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    object-fit: cover;
  /*  box-shadow: -10px 20px 60px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(181, 27, 117, 0.2); /* Blended shadow with a hint of pink */
}

@media (max-width: 992px) {
    .about-container {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .about-text h1 {
        font-size: 2.8rem; /* Adjust font size */
    }

    .about-text h2 {
        font-size: 2rem; /* Adjust font size */
    }

    .about-text p {
        font-size: 1.2rem; /* Adjust font size for better readability */
    }

    .about-image img {
        width: 100%; /* Make the image responsive */
        height: auto;
    }
}




@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .about-text h1 {
        font-size: 2.5rem; /* Adjust font size */
    }

    .about-text h2 {
        font-size: 2rem; /* Adjust font size */
    }

    .about-text p {
        font-size: 1.1rem; /* Adjust font size for better readability */
    }

    .about-image img {
        width: 100%; /* Make the image responsive */
        height: auto;
    }
}


@media (max-width: 480px) {
    .about-container {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .about-text h1 {
        font-size: 2rem; /* Adjust font size */
    }

    .about-text h2 {
        font-size: 1.5rem; /* Adjust font size */
    }

    .about-text p {
        font-size: 1.1rem; /* Adjust font size for better readability */
    }

    .about-image img {
        width: 100%; /* Make the image responsive */
        height: auto;
    }
}














/* Contact Section */
.contact {
    padding: 4rem 2rem;
    background: url('imgs/contact.png') no-repeat center center/cover; /* Background image */
    color: #fff; /* Off-white color for text */
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/* Overlay for readability */
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(11, 25, 44, 0.9); /* Semi-transparent overlay */
    z-index: -1;
}

/* Container for text and buttons */
.contact-content {
    position: relative;
    z-index: 2;
}

/* Header Style */
.contact h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Buttons Container */
.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure the buttons stay vertically aligned */
    gap: 2.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Allow buttons to wrap in case of small screens */
}

.contact-buttons a {
  text-decoration: none; /* Removes underline from the <a> element */
}
.contact-buttons a i {
	text-decoration:none;
}


/* Circle Buttons */
.contact-button {
    width: 50px;
    height: 50px;
    background-color: #b6fffa; /* Dark blue background for buttons */
    color: #213555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #3e5879; /* Light blue on hover */
	color: #FFFFFF;
}

/* Description Paragraph */
.contact-description {
    font-size: 1.2rem;
    color: #ffffff; /* Beige color for the description */
    max-width: 600px;
    margin: 0 auto;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .contact h2 {
        font-size: 2rem;
    }

    .contact-buttons {
        flex-direction: row;
        justify-content: center; /* Ensure buttons remain centered */
        gap: 1.5rem;
    }

    .contact-description {
        font-size: 1.1rem;
    }
}




/* Footer Styles */
footer {
    text-align: center;
    padding: 0.5rem; /* Reduced padding for a more compact footer */
    background-color: #3E5879; /* Theme blue background for footer */
    color: #f9f9f9; /* Dark text color to contrast with light footer background */
}

footer p {
    font-size: 0.85rem;
	font-weight: 500;
}


/* Style for the "Go to Top" button */
#goTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
	width:40px;
	height:40px;
    background-color: #f9f9f9;
    color: #213555;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-size: 1.2rem;
    cursor: pointer;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#goTopBtn:hover {
    background-color: #213555;
	color:#ffffff;
}