/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Focus state*/
header nav a:focus, .project-button:focus {
    outline: 3px solid #FF3796;
    outline-offset: 4px;
}

.contact-button:focus {
    outline: 3px solid #FF3796;
    outline-offset: 4px;
}


body {
    font-family: Noto Sans, serif;
	
	/*font-family: Arial, sans-serif;  */
    margin: 0;
    padding: 0;
    background-color: #F5EFE7; /* Light background for content */
    color: #213555; /* Dark text color for high contrast */
    line-height: 1.6;
}


svg {
    display: block; /* Ensures no extra space from inline rendering */
    margin: 0;
    padding: 0;
	overflow: hidden;
}



/* Header Styling (Category Title) */

/* Header Styles */
header {
    background-color: #213555; /* Original background color */
    color: #ffffff; /* dark blue  text */
    padding: 2rem 0; /* Retained padding 2rem is at the top*/
    position: relative; /* make it possible to place the circle on the top-right */
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin: 10;

}

header nav a {
    color: #ffffff; /* dark blue text */
    text-decoration: none;
    font-weight: 700; /* font weight---300 is light */
    font-size: 1.1rem;
    position: relative; /* For positioning the hover circle */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */

}

header nav a:hover {
    color: #D8C4B6; /* beige on hover for better interaction */
   /* transform: scale(1.1); /* Slight scaling effect */
}

/* Hover Circle Effect (top-right corner of the header) */
header nav a::after {
    content: "";
    position: absolute;
    top: -7px; /* Position it just above the link */
    right: -7px; /* Position it to the right of the link */
    width: 7px; /* Size of the circle */
    height: 7px;
    background-color: #D8C4B6; /* beige color for the circle */
    border-radius: 50%; /* Makes it round */
    opacity: 0;
    transition: opacity 0.3s ease;
}

header nav a:hover::after {
    opacity: 1; /* Circle becomes visible on hover */
}



/* Remove hover circle for My Work */
.dropdown > a::after {
    display: none; /* Removes the circle dot effect for dropdown parent link */
}

/* Remove hover circle for links inside the dropdown menu */
.dropdown-menu a::after {
    display: none; /* Removes the circle dot effect for links inside the dropdown */
}

/* Dropdown Styles */
.dropdown {
    position: relative;
}

.dropdown .arrow i{
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow i{
    transform: rotate(180deg); 
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -15px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top: 3px solid #D8C4B6;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    z-index: 10;
    visibility: hidden;
    min-width: 165px;
	
	
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-menu a {
    text-decoration: none;
    color: #213555;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0;
    transition: color 0.3s ease;
}

.dropdown-menu a:hover {
    color: #B51B75;
	text-decoration: wavy underline #B51B75;
}

/* Responsive Dropdown */

/* Responsive Dropdown */
@media (max-width: 480px) {
    .dropdown-menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(10px); /* Center align the dropdown */
        min-width: 60%; /* Adjust width for smaller screens */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        border-top: 3px solid #B51B75;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        visibility: hidden;
        opacity: 0;
    }

    .dropdown:hover .dropdown-menu {
        opacity: 1;
        transform: translateX(-50%) translateY(0); /* Apply slide-up effect */
        visibility: visible;
    }
}



/* Hero Section */
.hero {
    text-align: center;
    padding: 8rem 1rem 1rem;
    background-color: #213555; /* Dark blue for hero section background */
    color: #F9f9f9; /* Off-white color for text to stand out */
    position: relative;


}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    font-weight: 900;
}

.hero p {
    font-size: 1.3rem;
}


@media (max-width: 992px) {
    .hero {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .hero h1 {
        font-size: 2.8rem; /* Adjust font size */
    }


    .hero p {
        font-size: 1.2rem; /* Adjust font size for better readability */
    }

}


@media (max-width: 768px) {
    .hero {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .hero h1 {
        font-size: 2.5rem; /* Adjust font size */
    }


    .hero p {
        font-size: 1.1rem; /* Adjust font size for better readability */
    }

}


@media (max-width: 480px) {
    .hero {
        flex-direction: column; /* Stack content vertically on smaller screens */
    }

    .hero h1 {
        font-size: 2rem; /* Adjust font size */
    }


    .hero p {
        font-size: 1.1rem; /* Adjust font size for better readability */
    }
}







/* Section A */
.section-a {
    background-color: #f9f9f9; /* Light grey background for Section A */
    padding: 3rem 2rem;
}



/* Section B */
.section-b {
    background-color: #F5EFE7; /* Light Beige background for Section B */
    padding: 3rem 2rem;
}




/* Project Category Styles */
.project-category {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


/* Project Item Container */
.project-item {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
	justify-content: space-between; /* Distribute content evenly with space in between */
	max-width: 1280px;
}


/* Left Content: Project Info */
.project-info {
    flex: 1;
    text-align: left; /* Align text to the left */
	max-width: 600px;
	
	
}

.project-info h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.project-info p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

/*Role and tools section */
.project-details {
    list-style-type: disc; /* Display bullet points as dots */
    padding-left: 1.2rem; /* Add padding to align text properly with dots */
    margin: 0;
}

.project-details li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    position: relative;
   
}

/* Customize the bullet color */
.project-details li::marker {
    color: #B51B75; /* Change the bullet color */
	font-size: 1.2rem;
}


.project-details span {
   /* color: #D8C4B6; /* Add a colorful highlight for roles and tools */
    font-weight: bold;
}

/* Right Content: Project Image */
.project-image {
    flex: 0 1 auto; /* Prevent the image from growing disproportionately */
    max-width: 600px; /* Limit the maximum width of the image */
    margin-right: auto; /* Push the image to the Left, and if want to push to right, change to margin-left */
}



.project-image img {
    width: 100%;
  
    height: auto;
    border-radius: 20px;
  

/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);    */
}

/* Detailed Text Placeholder right below the project title and image */
.project-detail-text {
	
	padding: 3rem 0rem 2rem;
    font-size: 1.2rem;
    margin: 0 auto; /* Center align the text block */
	max-width:950px;
	
}

.project-detail-text p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Additional Images */
.additional-images {
    display: flex;
    margin: 0 auto; /* Center align the image block */
	gap: 2rem;
    justify-content: flex-start; /* Align to the left */
    margin-bottom: 2rem;
	max-width:950px;
}


.additional-images .image-placeholder {
   /* width: calc(50% - 0.5rem); /* Keep the width flexible */
/*	aspect-ratio: 16 / 9; /* Adjust this ratio as needed */
    overflow: hidden; /* Ensures content respects border-radius */
    border-radius: 10px; /* Apply rounded corners */
    cursor: zoom-in;
	
	    
	/*comment out below if ohter image shows issues*/	
	display: flex; /* Align content if needed */
    align-items: center;
    justify-content: center;
	
	
}

.additional-images .image-placeholder img {
    width: 100%; /* Ensure image scales to container width */
    height: auto; /* Maintain the image's natural aspect ratio */
    object-fit: cover; /* Ensure the image fits within the container */
    display: block; /* Remove extra space caused by inline elements */
    transition: transform 0.3s ease; /* Add hover zoom-in effect */
}

.additional-images .image-placeholder:hover img {
    transform: scale(1.01); /* Slight zoom effect on hover */
}





/* Button Placeholder Styling */
.button-placeholder {
    display: flex; /* Center align the button */
    justify-content: flex-start; /* Align it to the left of the container */
    margin: 2rem 0; /* Add spacing around the button */


}

/* Button Styling */
.project-button {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff; /* Text color */
    background-color: #B51B75; /* Button background color */
    text-decoration: none; /* Remove underline */
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 30px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Hover effect */
}

.project-button:hover {
    background-color: #9A1460; /* Darker shade for hover */
}







/* Modal Styling for image popup */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: zoom-out;
}

.modal-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: zoom-out;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}

.modal-close:focus {
    outline: 2px solid #fff;
}




/* Project Video Section */
.video-container {
  position: relative;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  max-width:950px;
  margin: 0 auto;   /*Center the video block*/
  
}

video {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}







/* Responsive Design Adjustments */
@media screen and (max-width: 768px) {
    .project-item {
        flex-direction: column;
    }

    .additional-images {
        flex-direction: column;
    }

    .additional-images .image-placeholder {
        width: 100%;

		
    }
}


/* Contact Section */
.contact {
    padding: 4rem 2rem;
    background: url('imgs/test.jpg') no-repeat center center/cover; /* Background image */
    color: #F9F9F9; /* Off-white color for text */
    text-align: center;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/* Overlay for readability */
.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: -1;
}

/* Container for text and buttons */
.contact-content {
    position: relative;
    z-index: 2;
}

/* Header Style */
.contact h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* Buttons Container */
.contact-buttons {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensure the buttons stay vertically aligned */
    gap: 1.5rem;
    margin-bottom: 2rem;
    flex-wrap: wrap; /* Allow buttons to wrap in case of small screens */
}

/* Circle Buttons */
.contact-button {
    width: 50px;
    height: 50px;
    background-color: #213555; /* Dark blue background for buttons */
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #7FC7D9; /* Light blue on hover */
}

/* Description Paragraph */
.contact-description {
    font-size: 1.2rem;
    color: #D8C4B6; /* Beige color for the description */
    max-width: 800px;
    margin: 0 auto;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    .contact h2 {
        font-size: 2rem;
    }

    .contact-buttons {
        flex-direction: row;
        justify-content: center; /* Ensure buttons remain centered */
        gap: 1.5rem;
    }

    .contact-description {
        font-size: 1rem;
    }
}



/* Footer Styles */
footer {
    text-align: center;
    padding: 0.5rem; /* Reduced padding for a more compact footer */
    background-color: #3E5879; /* Theme blue background for footer */
    color: #f9f9f9; /* Dark text color to contrast with light footer background */
}

footer p {
    font-size: 0.85rem;
	font-weight: 500;
}



/* Style for the "Go to Top" button */
#goTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
	width:40px;
	height:40px;
    background-color: #f9f9f9;
    color: #213555;
    border: none;
    border-radius: 10px;
    padding: 0;
    font-size: 1.2rem;
    cursor: pointer;
    display: none; /* Hidden by default */
    z-index: 1000; /* Ensure it appears above other elements */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#goTopBtn:hover {
    background-color: #213555;
	color:#ffffff;
}